In [21]:
import pandas as pd

In [24]:
data = pd.read_csv("sap_storing.csv")

We laden hieronder de test database in, we willen globaal naar de data kijken en gebruiken daarom hiervoor nog niet de gehele database. Wat meteen opvalt is dat er een groot aantal kolommen zijn: namelijk 140. Dit zijn dus 140 variabelen die we mogelijk mee moeten nemen verder in ons project. Bij deze stap in het project willen we gaan kijken welke variabelen kansrijk zijn om bijvoorbeeld als feature- of targetvariabele aangewezen kunnen worden.

In eerste instantie maakt de dataset een redelijk rommelige indruk, dit komt waarschijnlijk door de ietwat verwarrende namen van de kolommen en de verschillende datatypes waarin de waardes worden weergegeven. Het kan handig zijn om meer overzicht te creeëren binnen de dataset, door bijvoorbeeld kolommen een helderdere naam te geven. Gelukkig hebben we wel een legenda gekregen die ons uitlegt wat elke kolom in de dataset betekent.

In [25]:
data.head()

,Unnamed: 0,#stm_sap_meldnr,stm_mon_nr,stm_vl_post,stm_sap_meld_ddt,stm_sap_mon_meld_ddt,stm_sap_meldtekst_lang,stm_mon_begin_ddt,stm_sap_meldtekst,stm_mon_toelichting_trdl,...,stm_rapportage_maand,stm_rapportage_jaar,stm_x_bron_publ_dt,stm_x_bron_bestandsnaam,stm_x_bron_arch_dt,stm_x_actueel_ind,stm_x_run_id,stm_x_bk,stm_x_start_sessie_dt,stm_x_vervallen_ind
0,1,50053211,0.0,NaN,02/01/2006 09:00:00,02/01/2006 09:00:00,Logboeknr Geeltje : 49 Tijd: 0900 VL-Po...,NaN,Logboeknr Geeltje : 49 Tijd: 0900,NaN,...,1,2006,02/01/2006 09:00:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704590,13/06/2013 13:37:52,0
1,2,50053213,48.0,GN,02/01/2006 12:35:00,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-Post: ...,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-P,NaN,...,1,2006,02/01/2006 12:35:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704591,13/06/2013 13:37:52,0
2,3,50053214,72.0,ZL,02/01/2006 16:40:00,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-Post: ...,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-P,NaN,...,1,2006,02/01/2006 16:40:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704592,13/06/2013 13:37:52,0
3,4,50053215,96.0,ZL,02/01/2006 22:30:00,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-Post: ...,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-P,NaN,...,1,2006,02/01/2006 22:30:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704593,13/06/2013 13:37:52,0
4,5,50053218,38.0,EHV,02/01/2006 11:23:00,02/01/2006 11:23:00,Logboeknr RBV : 38 Tijd: 1123 VL-Post: ...,02/01/2006 11:23:00,Logboeknr RBV : 38 Tijd: 1123 VL-P,NaN,...,1,2006,02/01/2006 11:23:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704594,13/06/2013 13:37:52,0

In [28]:
data.isnull().sum().sum()

3770

In [33]:
(3770/(79 * 140)) * 100

34.0867992766727

In [37]:
data.count().idxmin()

'stm_progfh_gw_ddt'

In [ ]:
data.isnull().sum().sum()

In [55]:
df1 = data.dropna(axis = 'columns', thresh=50)

In [56]:
df1

,Unnamed: 0,#stm_sap_meldnr,stm_mon_nr,stm_sap_meld_ddt,stm_sap_mon_meld_ddt,stm_sap_meldtekst_lang,stm_sap_meldtekst,stm_geo_mld,stm_geo_mld_uit_functiepl,stm_km_van_mld,...,stm_rapportage_maand,stm_rapportage_jaar,stm_x_bron_publ_dt,stm_x_bron_bestandsnaam,stm_x_bron_arch_dt,stm_x_actueel_ind,stm_x_run_id,stm_x_bk,stm_x_start_sessie_dt,stm_x_vervallen_ind
0,1,50053211,0.0,02/01/2006 09:00:00,02/01/2006 09:00:00,Logboeknr Geeltje : 49 Tijd: 0900 VL-Po...,Logboeknr Geeltje : 49 Tijd: 0900,624.0,624.0,0.0,...,1,2006,02/01/2006 09:00:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704590,13/06/2013 13:37:52,0
1,2,50053213,48.0,02/01/2006 12:35:00,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-Post: ...,Logboeknr RBV : 48 Tijd: 1235 VL-P,201.0,201.0,0.0,...,1,2006,02/01/2006 12:35:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704591,13/06/2013 13:37:52,0
2,3,50053214,72.0,02/01/2006 16:40:00,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-Post: ...,Logboeknr RBV : 72 Tijd: 1640 VL-P,25.0,25.0,0.0,...,1,2006,02/01/2006 16:40:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704592,13/06/2013 13:37:52,0
3,4,50053215,96.0,02/01/2006 22:30:00,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-Post: ...,Logboeknr RBV : 96 Tijd: 2230 VL-P,12.0,12.0,0.0,...,1,2006,02/01/2006 22:30:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704593,13/06/2013 13:37:52,0
4,5,50053218,38.0,02/01/2006 11:23:00,02/01/2006 11:23:00,Logboeknr RBV : 38 Tijd: 1123 VL-Post: ...,Logboeknr RBV : 38 Tijd: 1123 VL-P,614.0,614.0,0.0,...,1,2006,02/01/2006 11:23:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704594,13/06/2013 13:37:52,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,908625,99003505,0.0,11/05/2013 08:06:00,11/05/2013 08:06:00,GVC : sp-2 en 3 stop lampen op de stootjukke...,GVC : sp-2 en 3 stop lampen op de stoot,560.0,560.0,24500.0,...,8,2013,05/08/2013 01:00:16,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,3344,12759543,05/08/2013 01:30:37,0
75,908626,99003506,0.0,11/05/2013 09:21:00,11/05/2013 09:21:00,Whz : Ovw 100.1 albert Plesmanweg blijft dic...,Whz : Ovw 100.1 albert Plesmanweg blijft,468.0,468.0,100051.0,...,5,2013,11/05/2013 09:21:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,05/08/2013 01:00:16,0,1518,12759544,13/06/2013 13:37:52,0
76,908627,99003506,0.0,11/05/2013 09:21:00,11/05/2013 09:21:00,Whz : Ovw 100.1 albert Plesmanweg blijft dic...,Whz : Ovw 100.1 albert Plesmanweg blijft,468.0,468.0,100051.0,...,8,2013,05/08/2013 01:00:16,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,3344,12759544,05/08/2013 01:30:37,0
77,908628,99999999,0.0,20/08/2016 14:15:17,20/08/2016 14:15:17,Bdg-Apn : Km 12.7 twee gedode zwanen langs het...,Bdg-Apn : Km 12.7 twee gedode zwanen lan,102.0,102.0,0.0,...,8,2016,23/08/2016 06:00:19,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,24/10/2016 06:00:11,0,450213,3710373,01/09/2016 06:09:38,0
78,908629,99999999,0.0,20/08/2016 14:15:17,20/08/2016 14:15:17,Bdg-Apn : Km 12.7 twee gedode zwanen langs het...,Bdg-Apn : Km 12.7 twee gedode zwanen lan,102.0,102.0,0.0,...,10,2016,24/10/2016 06:00:11,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,490063,3710373,24/10/2016 06:11:40,0

In [57]:
df1.count().idxmin()

'stm_progfh_hz'

In [59]:
df1[['stm_progfh_hz']].isnull().sum().sum()

27

In [67]:
df1.corr()

,Unnamed: 0,#stm_sap_meldnr,stm_mon_nr,stm_geo_mld,stm_geo_mld_uit_functiepl,stm_km_van_mld,stm_km_tot_mld,stm_prioriteit,stm_geo_gst,stm_geo_gst_uit_functiepl,...,stm_reactie_duur,stm_hinderwaarde,stm_schadenr,stm_schade_statusdatum,stm_rapportage_maand,stm_rapportage_jaar,stm_x_actueel_ind,stm_x_run_id,stm_x_bk,stm_x_vervallen_ind
Unnamed: 0,1.000000,0.971196,0.185342,0.299920,0.299920,0.583225,0.285870,-0.868426,0.279746,0.279746,...,0.243213,-0.316737,NaN,NaN,0.753136,0.941182,-0.570526,0.438758,-0.570878,NaN
#stm_sap_meldnr,0.971196,1.000000,0.110806,0.213451,0.213451,0.600552,0.144332,-0.842479,0.179943,0.179943,...,0.128801,-0.283477,NaN,NaN,0.738272,0.848714,-0.567434,0.296568,-0.425747,NaN
stm_mon_nr,0.185342,0.110806,1.000000,-0.015448,-0.015448,0.174242,0.285784,-0.353332,-0.001130,-0.001130,...,0.222442,-0.096497,NaN,NaN,0.083338,0.269382,-0.147485,0.100905,-0.291101,NaN
stm_geo_mld,0.299920,0.213451,-0.015448,1.000000,1.000000,-0.011714,-0.035793,-0.292570,1.000000,1.000000,...,0.277491,-0.280543,NaN,NaN,0.208542,0.395756,-0.178377,0.250248,-0.424296,NaN
stm_geo_mld_uit_functiepl,0.299920,0.213451,-0.015448,1.000000,1.000000,-0.011714,-0.035793,-0.292570,1.000000,1.000000,...,0.277491,-0.280543,NaN,NaN,0.208542,0.395756,-0.178377,0.250248,-0.424296,NaN
stm_km_van_mld,0.583225,0.600552,0.174242,-0.011714,-0.011714,1.000000,0.450184,-0.427869,-0.019856,-0.019856,...,-0.115888,-0.161203,NaN,NaN,0.470971,0.453701,-0.311497,0.064451,-0.094413,NaN
stm_km_tot_mld,0.285870,0.144332,0.285784,-0.035793,-0.035793,0.450184,1.000000,-0.188091,-0.018100,-0.018100,...,0.209579,-0.148884,NaN,NaN,0.235930,0.390447,-0.050338,0.419979,-0.375480,NaN
stm_prioriteit,-0.868426,-0.842479,-0.353332,-0.292570,-0.292570,-0.427869,-0.188091,1.000000,-0.301750,-0.301750,...,-0.259627,0.309303,NaN,NaN,-0.695982,-0.865053,0.526864,-0.358082,0.647086,NaN
stm_geo_gst,0.279746,0.179943,-0.001130,1.000000,1.000000,-0.019856,-0.018100,-0.301750,1.000000,1.000000,...,0.328126,-0.281437,NaN,NaN,0.199078,0.392179,-0.162470,0.286014,-0.464231,NaN
stm_geo_gst_uit_functiepl,0.279746,0.179943,-0.001130,1.000000,1.000000,-0.019856,-0.018100,-0.301750,1.000000,1.000000,...,0.328126,-0.281437,NaN,NaN,0.199078,0.392179,-0.162470,0.286014,-0.464231,NaN
stm_km_van_gst,0.213034,0.241041,0.119061,-0.241706,-0.241706,0.803860,0.397911,-0.110138,-0.207991,-0.207991,...,-0.181024,0.055314,NaN,NaN,0.194838,0.083293,-0.051999,-0.079748,0.190636,NaN
stm_km_tot_gst,0.285870,0.144332,0.285784,-0.035793,-0.035793,0.450184,1.000000,-0.188091,-0.018100,-0.018100,...,0.209579,-0.148884,NaN,NaN,0.235930,0.390447,-0.050338,0.419979,-0.375480,NaN
stm_oorz_code,0.669798,0.689717,0.049567,0.094070,0.094070,0.633082,0.057980,-0.481872,0.072876,0.072876,...,-0.070043,-0.202042,NaN,NaN,0.498392,0.522426,-0.432767,0.051139,-0.084928,NaN
stm_fh_status,-0.483727,-0.384191,-0.332262,-0.359418,-0.359418,0.053655,-0.191674,0.605688,-0.320232,-0.320232,...,-0.306419,0.242629,NaN,NaN,-0.411990,-0.650049,0.302264,-0.501621,0.763023,NaN
stm_tao_telling_mutatie,0.045668,0.048971,0.308159,0.088383,0.088383,0.101100,-0.037311,-0.157535,0.099457,0.099457,...,-0.059720,0.003598,NaN,NaN,0.027350,0.071504,-0.157135,-0.031805,-0.131609,NaN
stm_contractgeb_gst,0.295356,0.316630,-0.041550,-0.246265,-0.246265,0.383831,0.301089,-0.126219,-0.272108,-0.272108,...,0.047362,-0.093012,NaN,NaN,0.279471,0.224401,-0.163755,0.233835,-0.034564,NaN
stm_arbeid,-0.975402,-0.936709,-0.204079,-0.347707,-0.347707,-0.532943,-0.264815,0.893782,-0.330877,-0.330877,...,-0.197045,0.313889,NaN,NaN,-0.776470,-0.963795,0.579082,-0.422424,0.695799,NaN
stm_progfh_in_duur,-0.945010,-0.905205,-0.215091,-0.291864,-0.291864,-0.561693,-0.279099,0.870671,-0.330875,-0.330875,...,-0.222161,0.300592,NaN,NaN,-0.731561,-0.921806,0.556207,-0.427990,0.629223,NaN
stm_progfh_gw_duur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stm_progfh_gw_teller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stm_fh_duur,0.402623,0.489522,-0.101529,-0.092199,-0.092199,0.349192,-0.112918,-0.256290,-0.072807,-0.072807,...,-0.143873,-0.075164,NaN,NaN,0.341050,0.210280,-0.309907,-0.142376,0.164678,NaN
stm_reactie_duur,0.243213,0.128801,0.222442,0.277491,0.277491,-0.115888,0.209579,-0.259627,0.328126,0.328126,...,1.000000,-0.145315,NaN,NaN,0.185783,0.355703,-0.099132,0.610378,-0.379124,NaN
stm_hinderwaarde,-0.316737,-0.283477,-0.096497,-0.280543,-0.280543,-0.161203,-0.148884,0.309303,-0.281437,-0.281437,...,-0.145315,1.000000,NaN,NaN,-0.251584,-0.331256,0.147719,-0.219541,0.251227,NaN
stm_schadenr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stm_schade_statusdatum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
stm_rapportage_maand,0.753136,0.738272,0.083338,0.208542,0.208542,0.470971,0.235930,-0.695982,0.199078,0.199078,...,0.185783,-0.251584,NaN,NaN,1.000000,0.709522,-0.431912,0.529717,-0.535481,NaN
stm_rapportage_jaar,0.941182,0.848714,0.269382,0.395756,0.395756,0.453701,0.390447,-0.865053,0.392179,0.392179,...,0.355703,-0.331256,NaN,NaN,0.709522,1.000000,-0.522235,0.562057,-0.802839,NaN
stm_x_actueel_ind,-0.570526,-0.567434,-0.147485,-0.178377,-0.178377,-0.311497,-0.050338,0.526864,-0.162470,-0.162470,...,-0.099132,0.147719,NaN,NaN,-0.431912,-0.522235,1.000000,-0.297160,0.342382,NaN
stm_x_run_id,0.438758,0.296568,0.100905,0.250248,0.250248,0.064451,0.419979,-0.358082,0.286014,0.286014,...,0.610378,-0.219541,NaN,NaN,0.529717,0.562057,-0.297160,1.000000,-0.595008,NaN
stm_x_bk,-0.570878,-0.425747,-0.291101,-0.424296,-0.424296,-0.094413,-0.375480,0.647086,-0.464231,-0.464231,...,-0.379124,0.251227,NaN,NaN,-0.535481,-0.802839,0.342382,-0.595008,1.000000,NaN
stm_x_vervallen_ind,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
cor = df1[['stm_prioriteit', 'stm_geo_gst']]

In [66]:
cor.corr()

                stm_prioriteit  stm_geo_gst
stm_prioriteit         1.00000     -0.30175
stm_geo_gst           -0.30175      1.00000

In [72]:
cor1 = df1[['stm_fh_duur', 'stm_prioriteit', 'stm_reactie_duur']]

In [73]:
cor1.corr()

                  stm_fh_duur  stm_prioriteit  stm_reactie_duur
stm_fh_duur          1.000000       -0.256290         -0.143873
stm_prioriteit      -0.256290        1.000000         -0.259627
stm_reactie_duur    -0.143873       -0.259627          1.000000

In [75]:
df1[['stm_sap_meld_ddt', 'stm_sap_meldtijd', 'stm_sap_melddatum']]

       stm_sap_meld_ddt stm_sap_meldtijd stm_sap_melddatum
0   02/01/2006 09:00:00         09:00:00        02/01/2006
1   02/01/2006 12:35:00         12:35:00        02/01/2006
2   02/01/2006 16:40:00         16:40:00        02/01/2006
3   02/01/2006 22:30:00         22:30:00        02/01/2006
4   02/01/2006 11:23:00         11:23:00        02/01/2006
..                  ...              ...               ...
74  11/05/2013 08:06:00         08:06:00        11/05/2013
75  11/05/2013 09:21:00         09:21:00        11/05/2013
76  11/05/2013 09:21:00         09:21:00        11/05/2013
77  20/08/2016 14:15:17         14:15:17        20/08/2016
78  20/08/2016 14:15:17         14:15:17        20/08/2016

[79 rows x 3 columns]

In [76]:
df1[['stm_geo_gst', 'stm_geo_mld']]

    stm_geo_gst  stm_geo_mld
0         624.0        624.0
1         201.0        201.0
2          25.0         25.0
3          12.0         12.0
4         614.0        614.0
..          ...          ...
74          NaN        560.0
75        468.0        468.0
76        468.0        468.0
77        102.0        102.0
78        102.0        102.0

[79 rows x 2 columns]