In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import datetime as date

from sklearn import linear_model
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [53]:
df = pd.read_csv("sap_storing.csv") 
df.head()

,Unnamed: 0,#stm_sap_meldnr,stm_mon_nr,stm_vl_post,stm_sap_meld_ddt,stm_sap_mon_meld_ddt,stm_sap_meldtekst_lang,stm_mon_begin_ddt,stm_sap_meldtekst,stm_mon_toelichting_trdl,...,stm_rapportage_maand,stm_rapportage_jaar,stm_x_bron_publ_dt,stm_x_bron_bestandsnaam,stm_x_bron_arch_dt,stm_x_actueel_ind,stm_x_run_id,stm_x_bk,stm_x_start_sessie_dt,stm_x_vervallen_ind
0,1,50053211,0.0,NaN,02/01/2006 09:00:00,02/01/2006 09:00:00,Logboeknr Geeltje : 49 Tijd: 0900 VL-Po...,NaN,Logboeknr Geeltje : 49 Tijd: 0900,NaN,...,1,2006,02/01/2006 09:00:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704590,13/06/2013 13:37:52,0
1,2,50053213,48.0,GN,02/01/2006 12:35:00,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-Post: ...,02/01/2006 12:35:00,Logboeknr RBV : 48 Tijd: 1235 VL-P,NaN,...,1,2006,02/01/2006 12:35:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704591,13/06/2013 13:37:52,0
2,3,50053214,72.0,ZL,02/01/2006 16:40:00,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-Post: ...,02/01/2006 16:40:00,Logboeknr RBV : 72 Tijd: 1640 VL-P,NaN,...,1,2006,02/01/2006 16:40:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704592,13/06/2013 13:37:52,0
3,4,50053215,96.0,ZL,02/01/2006 22:30:00,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-Post: ...,02/01/2006 22:30:00,Logboeknr RBV : 96 Tijd: 2230 VL-P,NaN,...,1,2006,02/01/2006 22:30:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704593,13/06/2013 13:37:52,0
4,5,50053218,38.0,EHV,02/01/2006 11:23:00,02/01/2006 11:23:00,Logboeknr RBV : 38 Tijd: 1123 VL-Post: ...,02/01/2006 11:23:00,Logboeknr RBV : 38 Tijd: 1123 VL-P,NaN,...,1,2006,02/01/2006 11:23:00,\\PUHAPS0149\Informatica_Prod\Inbox\Informatic...,31/12/9999 00:00:00,1,1518,12704594,13/06/2013 13:37:52,0

In [54]:
usefullcols = ['stm_mon_nr','stm_sap_meld_ddt','stm_status_melding_sap','stm_km_van_mld','stm_km_tot_mld','stm_km_van_gst',
'stm_km_tot_gst','stm_fh_tijd','stm_sap_melddatum','stm_aanngeb_tijd','stm_aanntpl_tijd','stm_arbeid',
'stm_progfh_in_tijd','stm_progfh_in_invoer_tijd','stm_progfh_in_duur','stm_sap_storeindtijd','stm_progfh_gw_tijd',
'stm_reactie_duur','stm_progfh_gw_duur','stm_progfh_gw_teller','stm_afspr_aanvangdd','stm_afspr_aanvangtijd',
'stm_fh_duur','stm_evb','stm_sap_meldtijd','stm_sap_meldtekst_lang','stm_prioriteit','stm_oh_pg_gst',
'stm_sap_meldtekst','stm_techn_gst','stm_contractgeb_gst','stm_tao_indicator','stm_geo_mld','stm_functiepl_mld',
'stm_geo_mld_uit_functiepl','stm_aanngeb_ddt','stm_aanngeb_dd','stm_oorz_code','stm_oorz_groep','stm_oorz_tkst',
'stm_fh_dd','stm_fh_status','stm_geo_gst','stm_functiepl_gst','stm_geo_gst_uit_functiepl','stm_fh_ddt',
'stm_aanntpl_dd','stm_techn_mld','stm_sap_storeinddatum','stm_equipm_nr_mld','stm_equipm_soort_mld',
'stm_equipm_omschr_mld','stm_sap_storeind_ddt','stm_contractgeb_mld','stm_equipm_nr_gst','stm_equipm_soort_gst',
'stm_equipm_omschr_gst','stm_progfh_in_invoer_dat','stm_progfh_in_datum','stm_oorz_tekst_kort','stm_dstrglp_naar',
'stm_tao_indicator_vorige','stm_vl_post','stm_dstrglp_van','stm_pplg_van','stm_tao_soort_mutatie',
'stm_progfh_gw_lwd_tijd','stm_pplg_naar','stm_progfh_gw_lwd_datum']

In [105]:
df = pd.read_csv('sap_storing.csv',usecols=usefullcols, low_memory=True)

In [106]:
features = df[['stm_prioriteit','stm_oorz_code','stm_oorz_groep','stm_equipm_nr_mld','stm_equipm_soort_mld']]
target = df['stm_fh_duur']

In [107]:
features

,stm_prioriteit,stm_oorz_code,stm_oorz_groep,stm_equipm_nr_mld,stm_equipm_soort_mld
0,9.0,133.0,ONR-RIB,NaN,NaN
1,9.0,143.0,ONR-DERD,NaN,NaN
2,9.0,142.0,ONR-DERD,NaN,NaN
3,9.0,142.0,ONR-DERD,NaN,NaN
4,9.0,218.0,TECHONV,10621391.0,DETECTREIN
...,...,...,...,...,...
74,5.0,215.0,TECHONV,NaN,NaN
75,2.0,218.0,TECHONV,10021085.0,OVERWEG
76,2.0,218.0,TECHONV,10021085.0,OVERWEG
77,2.0,135.0,ONR-RIB,NaN,NaN
78,2.0,143.0,ONR-DERD,NaN,NaN

In [108]:
now = date.datetime.today()
zeroTimeDiff = now - now

df['stm_sap_meld_ddt'] = pd.to_datetime(df['stm_sap_meld_ddt'], format='%d/%m/%Y %H:%M:%S')
df['stm_sap_storeind_ddt'] = pd.to_datetime(df['stm_sap_storeind_ddt'], format='%d/%m/%Y %H:%M:%S')
# df['stm_fh_tijd'] = pd.to_timedelta(df['stm_fh_tijd'], unit='s')


# Meldingen waar de oplossing in de toekomst is zijn onzin.
df[df['stm_sap_storeind_ddt'] >= now][['stm_sap_storeind_ddt','stm_sap_meld_ddt']]
df.drop(df[df['stm_sap_storeind_ddt'] >= now][['stm_sap_storeind_ddt','stm_sap_meld_ddt']].index,inplace=True)

# Een datetime diff om extra waardes te kunnen filteren.
# df['diff_meld_strend'] = df['stm_sap_storeind_ddt']-df['stm_sap_meld_ddt']

# Rijen waar het probleem eerder is opgelost dan de meldingen zijn onbetrouwbaar.
# df.drop(df[df['diff_meld_strend'] < zeroTimeDiff].index, inplace = True)

# Alles wat langer dan een dag duurt is niet urgent genoeg en dus niet nuttig.
# df.drop(df[df['diff_meld_strend'] > pd.to_timedelta(6, unit='h')].index, inplace = True)
# df.drop(df[df['stm_fh_tijd'] > pd.to_timedelta(6, unit='h')].index, inplace = True)
df.drop(df[df['stm_fh_duur'] > 360].index, inplace = True)

# Waar geen duur is hebben we niks aan dus die moeten weg.
df.dropna(subset=['stm_fh_duur'],inplace=True)

In [109]:
dubbleCol = ['stm_equipm_omschr_*', 'stm_equipm_soort_*', 'stm_equipm_nr_*', 
             'stm_geo_*_uit_functiepl', 'stm_functiepl_*', 'stm_geo_*',
            'stm_km_van_*','stm_km_tot_*',
            'stm_contractgeb_*','stm_techn_*']
original = 'mld'
optional = ['gst'] # Order of least to most important
for colPH in dubbleCol:
    colOg = colPH.replace('*',original)
    
    for option in optional:
        colOp = colPH.replace('*',option)
        df[colPH] = np.where(df[colOp].isna(), df[colOg], df[colOp])
        df.drop(columns=[colOp],inplace=True)
    df.drop(columns=[colOg],inplace=True)

In [110]:
df['stm_prioriteit'] = df['stm_prioriteit'].fillna(1) # Laagste prio
df['stm_oorz_code'] = df['stm_oorz_code'].fillna(299) # 'Niet gemeld' code
df['stm_oorz_groep'] = df['stm_oorz_groep'].fillna('x')
df['stm_fh_status'] = df['stm_fh_status'].fillna(1) # Median of values
df['stm_aanngeb_tijd'] = df['stm_aanngeb_tijd'].fillna(df['stm_sap_meldtijd']) # Aannemer beltijd gelijk met melding zetten.
df['stm_progfh_in_invoer_tijd'] = df['stm_progfh_in_invoer_tijd'].fillna(df['stm_aanngeb_tijd']) # Tijd van prognose op beltijd zetten.
df['stm_equipm_nr_*'] = df['stm_equipm_nr_*'].fillna(0)
df['stm_equipm_soort_*'] = df['stm_equipm_soort_*'].fillna('x')
df['stm_contractgeb_*'] = df['stm_contractgeb_*'].fillna(0)
df['stm_progfh_gw_teller'] = df['stm_progfh_gw_teller'].fillna(0)

df['stm_prioriteit'] = df['stm_prioriteit'].astype(int)
df['stm_oorz_code'] = df['stm_oorz_code'].astype(int)
df['stm_fh_status'] = df['stm_fh_status'].astype(int)
df['stm_fh_duur'] = df['stm_fh_duur'].astype(int)
df['stm_progfh_gw_teller'] = df['stm_progfh_gw_teller'].astype(int)
df['stm_equipm_nr_*'] = df['stm_equipm_nr_*'].astype(int)
df['stm_contractgeb_*'] = df['stm_contractgeb_*'].astype(int)

In [111]:
le_ozgr = LabelEncoder()
le_ozgr.fit(df['stm_oorz_groep'].unique())
df['stm_oorz_groep'] = le_ozgr.transform(df['stm_oorz_groep'])
# df['stm_oorz_groep'].unique()

In [112]:
le_equipsrt = LabelEncoder()
le_equipsrt.fit(df['stm_equipm_soort_*'].unique())
df['stm_equipm_soort_*'] = le_equipsrt.transform(df['stm_equipm_soort_*'])
# df['stm_equipm_soort_*'].unique()

In [118]:
features = ['stm_prioriteit','stm_oorz_code','stm_oorz_groep','stm_equipm_nr_*','stm_equipm_soort_*']
target = 'stm_fh_duur'

In [127]:
pd.get_dummies(features)

,stm_equipm_nr_*,stm_equipm_soort_*,stm_oorz_code,stm_oorz_groep,stm_prioriteit
0,0,0,0,0,1
1,0,0,1,0,0
2,0,0,0,1,0
3,1,0,0,0,0
4,0,1,0,0,0

In [128]:
X = pd.get_dummies(features)
Y = df[target]

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.1, random_state=10)

ValueError: Found input variables with inconsistent numbers of samples: [5, 67]

In [121]:
from sklearn.ensemble import RandomForestRegressor
model_rf = RandomForestRegressor(n_estimators=500, oob_score=True, random_state=100)
model_rf.fit(x_train, y_train)

RandomForestRegressor(n_estimators=500, oob_score=True, random_state=100)

In [124]:
pred_train_rf= model_rf.predict(x_train)
print(np.sqrt(mean_squared_error(y_train,pred_train_rf)))
print(r2_score(y_train, pred_train_rf))

19.602488933328555
0.9143960472971197

In [123]:
from sklearn.metrics import r2_score